<h1>iContact</h1>
 
<img src="http://icons.iconarchive.com/icons/custom-icon-design/office/256/addressbook-icon.png" alt="Icon">

 
<p id = "Reserved">© iContact. All rights reserved to BrownThugs.</p>
