
   <strong>Events: <%= comment.dateofbirth %></strong>


    <strong>Description: <%= comment.body %></strong>
  
  
  <p>
      <%= link_to 'Delete Info' , [comment.address ,comment],
                  method: :delete , 
                 data: {confirm: 'Are you sure?'} %>
    
      
      
  </p>