 <h2>Info</h2>
 
  <p>
    <strong>Events(ex: Date of Birth):</strong>
    <%= comment.dateofbirth %>
  </p>
 
  <p>
    <strong>Hobbies:</strong>
    <%= comment.body %>
  </p>
  
  
  <p>
      <%= link_to 'Delete Info' , [comment.address ,comment],
                  method: :delete , 
                 data: {confirm: 'Are you sure?'} %>
    
      
      
  </p>