<h1>Contacts</h1>

<ol id = "List" style="A">

  <% @address.each do |address| %>
      
          <li><%= link_to address_path(address) do %>
              <strong><%= address.FirstName%></strong>
              <strong><%= address.LastName%></strong></li>
              <% end %>
  <% end %>
</ol>
