// Place all the styles related to the addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left {
    width: 30%;
    float: left;
    text-align: right;
    padding-top: 40px;
    font-size: 25px;
    color: white;
    
}


.right{
    width: 65%;
    margin-left: 10px;
    float:left;
    padding-top: 30px;
    
}

input[type=text]{
    width: 50%;
    padding: 17px;
    border-radius: 5px;
    border-color: black;
}

textarea{
    resize: none;
    width: 50%;
    padding: 15px;
    border-radius: 5px;
    border-color: black;
    
}

input[type=submit]{
    
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    
    
}

#CreateContact{
    
    text-align: center;
}



#Reserved{
    color: white;
    text-align:center;
}



.listitem{
   display: block;
   color:white;
}

.listform{

    display:block;
    color: white;
}

.listform{
    
    
    display: block;
    color: white;
    
}


