// Place all the styles related to the Meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



p{
    padding-top: 20px;
    text-align: center;
    color: white;
}

strong{
    color: white;
    font-size: 20px;
}

.Meetingshow{
    
    text-align: center;
    padding-bottom: 5px;
}

.backlink{
    
    padding-top: 15px;
    
}

.attribute{
    color: white;
}

.output{
    color: white;
}

table{
    padding-bottom: 15px;
}

.newlink{
    
    padding-bottom: 15px;
    
    
}


.meetingright{
     width: 65%;
    margin-left: 10px;
    float:left;
    padding-top: 30px;
    padding-bottom: 15px;
}

.meetingleft{
     width: 30%;
    float: left;
    text-align: right;
    padding-top: 32px;
    font-size: 25px;
    color: white;
}

.actions{
    
    text-align: center;
    
}

